[submodule ".oh-my-zsh/custom/plugins/forgit"]
	path = .oh-my-zsh/custom/plugins/forgit
	url = git@github.com:typesAreSpaces/forgit.git
[submodule ".oh-my-zsh/custom/plugins/fzf-tab"]
	path = .oh-my-zsh/custom/plugins/fzf-tab
	url = git@github.com:typesAreSpaces/fzf-tab.git
